@model ViewModels.Areas.Administrator.Cement.CementViewModel

@{
    Layout = "~/Views/Shared/_Layouts/_SiteForPrint.cshtml";
    string strTitel =
        string.Format("{0} {1}",
        Resources.Action.DetailsOf,
        Resources.Model.Request.EntityName);

    List<Infrastructure.PageMessage> PageMessageList = ViewBag.PageMessages;

    string url = System.Configuration.ConfigurationSettings.AppSettings["IVOReferrUrl"].ToString();
}

<style>
    .BorderStyle {
        border-color: green;
        border-style: solid;
        border-width: 1px;
    }
</style>
@{
    <div class="row">
        <div class="panel panel-info" style="font-family: BYekan, Tahoma;">
            <div class="panel-heading ">
                <div style="margin-right:5%">
                    <img src="~/Content/Images/Cement.png"/>
                </div>

                    <center style="margin-top:-2%">
                        <b>
                            فاکتور خرید مصالح ساختمانی زکی زاده
                        </b>
                    </center>

                <div style="margin-right:80%; margin-top:-5%">
                    @Html.DisplayNameFor(model => model.InvoiceNumber) : @Html.DisplayFor(model => model.InvoiceNumber)
                    <br />
                    تاریخ فاکتور :  @Html.DisplayFor(model => model.StringInsertDateTime)
                </div>
                <br />
            </div>
            <div class="panel-body">
                @Html.HiddenFor(model => model.Id)
                @*@{
                    string RequestState = Infrastructure.Utility.EnumValue(Enums.EnumTypes.RequestStates, Model.RequestState);
                }*@
                <br />
                <table class="col-md-12 BorderStyle" align="center">
                    <caption style="background-color: lightblue; width:864px;" class="BorderStyle">
                        <span>اطلاعات خریدار</span>
                    </caption>
                    <tr class="BorderStyle">
                        <td>نام شرکت/شخص</td>
                        <td class="BorderStyle">شناسه ملی/کد ملی</td>
                        <td>@Html.DisplayNameFor(model => model.BuyerMobile)</td>
                        <td class="BorderStyle">استان</td>
                        <td>شهرستان</td>
                    </tr>
                    <tr class="BorderStyle">
                        <td>@Html.DisplayFor(model => model.BuyerName)</td>
                        <td class="BorderStyle">@Html.DisplayFor(model => model.BuyerNationalCode)</td>
                        <td>@Html.DisplayFor(model => model.BuyerMobile)</td>
                        <td class="BorderStyle">@Html.DisplayFor(model => model.StringProvince)</td>
                        <td>@Html.DisplayFor(model => model.StringCity)</td>
                    </tr>
                </table>
                <br />
                <table class="col-md-12 BorderStyle" align="center">
                    <caption style="background-color: lightblue; width:864px;" class="BorderStyle">
                        <span>اطلاعات کالا</span>
                    </caption>
                    <tr class="BorderStyle">
                        <td>@Html.DisplayNameFor(model => model.ProductName)</td>
                        <td class="BorderStyle">@Html.DisplayNameFor(model => model.ProductType)</td>
                        <td>@Html.DisplayNameFor(model => model.PackageType)</td>
                        <td class="BorderStyle">@Html.DisplayNameFor(model => model.FactoryName)</td>
                        <td>@Html.DisplayNameFor(model => model.Tonnage)</td>
                        <td class="BorderStyle">@Html.DisplayNameFor(model => model.AmountPaid)</td>
                    </tr>
                    <tr class="BorderStyle">
                        <td>@Html.DisplayFor(model => model.StringProductName)</td>
                        <td class="BorderStyle">@Html.DisplayFor(model => model.StringProductType)</td>
                        <td >@Html.DisplayFor(model => model.StringPackageType)</td>
                        <td class="BorderStyle">@Html.DisplayFor(model => model.StringFactoryName)</td>
                        <td>@Html.DisplayFor(model => model.StringTonnage)</td>
                        <td class="BorderStyle">@Html.DisplayFor(model => model.AmountPaid)</td>
                    </tr>
                </table>
                <br />
                @*<table class="col-md-12 BorderStyle">
                    <caption style="background-color: lightblue; width:864px;" class="BorderStyle">
                        <span>اطلاعات پرداخت</span>
                    </caption>
                    <tr class="BorderStyle">
                        <td>@Html.DisplayNameFor(model => model.AmountPaid)</td>
                        <td class="BorderStyle">@Html.DisplayNameFor(model => model.Bank_TraceNo)</td>
                        <td>@Html.DisplayNameFor(model => model.Bank_ShamsiDate)</td>
                        <td class="BorderStyle">@Html.DisplayNameFor(model => model.DepositNumber)</td>
                    </tr>
                    <tr class="BorderStyle">
                        <td>@Html.DisplayFor(model => model.AmountPaid)</td>
                        <td class="BorderStyle">@Html.DisplayFor(model => model.Bank_TraceNo)</td>
                        <td>@Html.DisplayFor(model => model.Bank_ShamsiDate)</td>
                        <td class="BorderStyle">@Html.DisplayFor(model => model.DepositNumber)</td>
                    </tr>
                </table>*@
                <br />
                <div style="margin-right:70%">
                    سامانه خرید آنلاین مصالح ساختمانی
                </div>
            </div>
            <div class="panel-footer">
                <br />
                <br />
            </div>
        </div>
    </div>
}


