@model ViewModels.Areas.Administrator.Bank.EditViewModel
@{
    string strTitle =
        string.Format("{0} {1}",
        Resources.Action.Edit,
        Resources.Model.Bank.EntitiesName);
}

@using (Html.BeginForm("Edit", "Bank", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (ViewBag.PageMessages != null && ViewBag.PageMessages != string.Empty)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                پیام های سیستمی
            </div>
            <div class="panel-body">
                @Html.Raw(ViewBag.PageMessages)
            </div>
        </div>
    }
    <div class="panel panel-primary">
        <div class="panel-heading">
            @strTitle
        </div>
        <div class="panel-body">
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-md-6" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Balance, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Balance, new { @class = "form-control col-md-6" })
                    @Html.ValidationMessageFor(model => model.Balance)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <input type="submit" value="@Resources.Buttons.Save" class="btn btn-success" />
                    <input type="submit" value="@Resources.Buttons.Reset" class="btn btn-primary" />
                </div>
            </div>

        </div>

        <div class="panel-footer">
            @*@Html.ActionLink(Resources.Action.Delete, MVC.Administrator.Bank.Delete(Model.Id), new { @class = "btn btn-danger" })*@
            @Html.ActionLink(Resources.Action.BackToList, MVC.Administrator.Bank.Index(), new { @class = "btn btn-default" })

            <a class="btn btn-default col-md-2" data-toggle="tooltip" data-placement="top" title="@(Resources.Action.BackToMain)"
               href="/HomeMain/Main/" style="float:left;"><span style="float:right;">@Resources.Action.BackToMain</span><img style="float:left;" src='../../../Content/Icon/Back.png' /></a>
            <br />
            <br />
        </div>
    </div>
}

@section Scripts {
    <script>
        const balanceInput = document.getElementById("Balance");

        balanceInput.addEventListener("input", function (e) {
            // حذف کاماهای قبلی
            let value = this.value.replace(/,/g, '');

            // فقط اعداد مجاز باشند
            if (!isNaN(value)) {
                this.value = Number(value).toLocaleString('en-US');
            }
        });

        // هنگام ارسال فرم، کاماها را حذف کن
        document.querySelector("form").addEventListener("submit", function () {
            balanceInput.value = balanceInput.value.replace(/,/g, '');
        });
    </script>
}