@{
    if (Infrastructure.AuthenticatedUser.IsAuthenticated)
    {
        string strDisplayName = Infrastructure.Sessions.AuthenticatedUser.FullName;
        string DisplaycreditAmount = ViewBag.DisplaycreditAmount;

        if (string.IsNullOrWhiteSpace(strDisplayName) == false)
        {
            strDisplayName = strDisplayName.Trim();
        }
        else
        {
            //strDisplayName =Infrastructure.Sessions.AuthenticatedUser.EmailAddress;
        }
        <li>
            @Html.ActionLink(strDisplayName, MVC.Account.ChangePassword(), new { style = "color:white;" })
        </li>
        <li>
            @Html.ActionLink(Resources.Action.Logout, MVC.Account.Logout(), new { style = "color:white;" })
        </li>
        <li>
            @Html.ActionLink(Resources.Action.Rechargewallet, MVC.HomeMain.Rechargewallet(), new { style = "color:white;" })
        </li>
    }
    else
    {
        <li>
            @Html.ActionLink(Resources.Action.Login, MVC.HomeMain.Login(), new { style = "color:white;" })
        </li>

        @*<li>
                @Html.ActionLink(Resources.Action.Register,
                    MVC.Account.Register(),
                    Infrastructure.Enums.ActionLinksTypes.SimpleLink, new { style = "color:white;" })
            </li>*@
    }
}
