@model ViewModels.Areas.Administrator.ExecutableCode.DetailViewModel
@{
    string strTitle =
        string.Format("{0} {1}",
        Resources.Action.DetailsOf,
        Resources.Model.ExecutableCode.EntitiesName);
}

<div class="panel panel-primary">
    <div class="panel-heading">
        @strTitle
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Name)</dt>
            <dd>@Html.DisplayFor(model => model.Name)</dd>

            <dt>@Html.DisplayNameFor(model => model.Code)</dt>
            <dd>@Html.DisplayFor(model => model.Code)</dd>

            <dt>@Html.DisplayNameFor(model => model.InsertDateTime)</dt>
            <dd>@Html.DisplayFor(model => model.InsertDateTime)</dd>

        </dl>
    </div>
    <div class="panel-footer">
        @Html.ActionLink(Resources.Action.Edit, MVC.Administrator.ExecutableCode.Edit(Model.Id), new { @class = "btn btn-primary" })
        @*@Html.ActionLink(Resources.Action.Delete, MVC.Administrator.ExecutableCode.Delete(Model.Id), new { @class = "btn btn-danger" })*@
        @Html.ActionLink(Resources.Action.BackToList, MVC.Administrator.ExecutableCode.Index(), new { @class = "btn btn-default" })

        <a class="btn btn-default col-md-2" data-toggle="tooltip" data-placement="top" title="@(Resources.Action.BackToMain)"
           href="/HomeMain/Main/" style="float:left;"><span style="float:right;">@Resources.Action.BackToMain</span><img style="float:left;" src='../../../Content/Icon/Back.png' /></a>
        <br />
        <br />
    </div>
</div>

