@model ViewModels.Areas.Administrator.Cement.CementViewModel
@{
    ViewBag.Title = "Home Page";
}
<style>
    .example img {
        width: 100%;
        height: 300px;
    }

    .example::after {
        
        position: absolute;
        top: 100px;
        white-space: pre;
        right: 50%;
        transform: translateX(50%);
        font-weight: bold;
        font-size: 23px;
    }

    #loginFrom .row {
        width: 100%;
    }
    .panel-body #Mahal {
        margin-right : 6px;
        margin-left : 3px;
    }
</style>

<div class="example">
    <img src="~/Content/Images/Baner1a.jpg" style="top: 0px; left: 0px; width: 100%; max-height: 100%; z-index: -10; border: solid; border-width: 7px; border-color: #e1e1e1; -webkit-box-shadow: 0 7px 2px #777; -moz-box-shadow: 0 7px 2px #777; box-shadow: 0 7px 2px #777;" class="img-responsive">
</div>

@*<img  title="مصالح پخش" src="~/Content/Images/Baner.jpg" style="top: 0px; left: 0px; width: 100%; max-height: 100%; z-index: -10; border: solid; border-width: 7px; border-color: #e1e1e1; -webkit-box-shadow: 0 7px 2px #777; -moz-box-shadow: 0 7px 2px #777; box-shadow: 0 7px 2px #777;" class="img-responsive">*@
<br />

<div class="row">
    <section id="loginFrom" class="col-md-12 col-md-offset-0 panel panel-info">
        @if (ViewBag.DisplaycreditAmount != null)
        {
            <h4 class="panel-heading" style="text-align:center ; color:forestgreen">@ViewBag.DisplaycreditAmount</h4>
        }
        @if (ViewBag.Message != null)
        {
            <h4 class="panel-heading" style="text-align:center">@ViewBag.Message</h4>
        }

        @if (ViewBag.Karkhane != null && ViewBag.Karkhane != string.Empty)
        {
            using (Html.BeginForm("Payment", "Zarinpal", FormMethod.Post))
            {
                <div style="color:red ; text-align:center" ; font-weight:bold" class="panel-body">
                    <p style="color:black">
                        لطفا محل تحویل را انتخاب نمایید
                    </p>
                    @Html.RadioButtonFor(model => model.Description, "M", new {  @id = "Karkhane" , @checked= "checked" })
                    @Html.Raw(ViewBag.Karkhane)
                    <br />
                    @if (ViewBag.Mahal != null)
                    {
                        @*@Html.RadioButtonFor(model => model.Description, "F", new { @onclick = "EnablePayment()", @id = "Mahal" })
                        @Html.Raw(ViewBag.Mahal)
                        <br />*@
                        @Html.Raw(ViewBag.Mahal)
                    }

                </div>

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Hidden("invoiceNumber", null, new { @class = "form-controle" })
                @Html.Hidden("MahalTahvil", null, new { @class = "form-controle" })
                <div style="text-align:center">
                    <input class="btn btn-success" type="submit" id="btnPayment" style="margin-right:7px ; text-align:center" value="پرداخت و دریافت فاکتور" onclick="EnablePayment()"/>
                </div>
            }
        }
        else if (ViewBag.PageMessages != null && ViewBag.PageMessages != string.Empty)
        {
            <div class="panel panel-info" style="text-align:center">
                <div style="color:red ; font-weight:bold" class="panel-body">
                    @Html.Raw(ViewBag.PageMessages)
                </div>
            </div>
        }

        @using (Html.BeginForm("Index", "HomeMain", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.ProductName, new { @class = "col-md-3 control-label" })
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.ProductName, null,
                    Resources.Caption.SelectAnItem, new { @class = "form-control", @onchange = "onChangeProductName()" })
                    @Html.ValidationMessageFor(model => model.ProductName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductType, new { @class = "col-md-3 control-label" })
                <div class="col-md-6" id="DivProductTypeId">
                    @Html.DropDownListFor(model => model.ProductType, null,
                   Resources.Caption.SelectAnItem, new { @class = "form-control", @onchange = "onChangeProductType()" })
                    @Html.ValidationMessageFor(model => model.ProductType)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PackageType, new { @class = "col-md-3 control-label" })
                <div class="col-md-6" id="DivPackageTypeId">
                    @Html.DropDownListFor(model => model.PackageType, null,
                   Resources.Caption.SelectAnItem, new { @class = "form-control", @onchange = "onChangePackageType()" })
                    @Html.ValidationMessageFor(model => model.PackageType)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FactoryName, new { @class = "col-md-3 control-label" })
                <div class="col-md-6" id="DivFactoryNameId">
                    @Html.DropDownListFor(model => model.FactoryName, null, Resources.Caption.SelectAnItem, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FactoryName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tonnage, new { @class = "col-md-3 control-label" })
                <div class="col-md-6" id="DivTonnageId">
                    @Html.DropDownListFor(model => model.Tonnage, null, Resources.Caption.SelectAnItem, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Tonnage)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Province, new { @class = "col-md-3 control-label" })
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.Province, null,
                    Resources.Caption.SelectAnItem, new { @class = "form-control", @onchange = "onChangeProvince()" })
                    @Html.ValidationMessageFor(model => model.Province)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.City, new { @class = "col-md-3 control-label" })
                <div class="col-md-6" id="DivCityId">
                    @Html.DropDownListFor(model => model.City, null,
                      Resources.Caption.SelectAnItem, new { @class = "form-control", @onchange = " onChangecity()" })
                    @Html.ValidationMessageFor(model => model.City)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Village, new { @class = "col-md-3 control-label" })
                <div class="col-md-6" id="DivVillageId">
                    @Html.DropDownListFor(model => model.Village, null,
                    Resources.Caption.SelectAnItem, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Village)
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.Village, new { @class = "col-md-3 control-label" })
                <div class="col-md-6" id="DivCityId">
                    @Html.DropDownListFor(model => model.Village, null, Resources.Caption.SelectAnItem, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Village)
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.BuyerMobile, new { @class = "col-md-3 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.BuyerMobile, new { @class = "form-control", @onkeypress = "return AllowNumbersOnly(event)" })
                    @Html.ValidationMessageFor(model => model.BuyerMobile)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { @class = "col-md-3 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>

            <div class="form-group">
                <div class="text-center">
                    @*<input type="submit" value='محاسبه قیمت' class="btn btn-success" />*@
                    <input type="submit" value='محاسبه قیمت' class="btn btn-info" />
                </div>
            </div>
        }
    </section>

        @Html.Action("News")

</div>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail" style="border: solid; border-width: 4px; border-color: #e1e1e1; -webkit-box-shadow: 0 4px 2px #777; -moz-box-shadow: 0 4px 2px #777; box-shadow: 0 4px 2px #777;">
            <img src="/Content/Images/Guid.jpg" style="top: 0px; left: 0px; width: 100%; max-height: 100%;" class="img-responsive" />
            <hr />
            <div class="caption">
                <h4 style="margin-top:-20px;">راهنما کاربران</h4>
                <p>...</p>
                <br />
                <br />
                <p>
                    <a class="btn btn-default" href="/HomeMain/UserGuid">ادامه مطلب ...</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail" style="border: solid; border-width: 4px; border-color: #e1e1e1; -webkit-box-shadow: 0 4px 2px #777; -moz-box-shadow: 0 4px 2px #777; box-shadow: 0 4px 2px #777;">
            <img src="~/Content/Images/Recepe.jpg" style="top: 0px; left: 0px; width: 100%; max-height: 100%;" class="img-responsive" />
            <hr />
            <div class="caption">
                <h4 style="margin-top:-20px;">دستورالعمل ها</h4>
                <p>...</p>
                <br />
                <br />
                <p>
                    <a class="btn btn-default" href="#">ادامه مطلب ...</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail" style="border: solid; border-width: 4px; border-color: #e1e1e1; -webkit-box-shadow: 0 4px 2px #777; -moz-box-shadow: 0 4px 2px #777; box-shadow: 0 4px 2px #777;">
            <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=523234&Code=JG3Asyfjek1sZ93eMOSPM1CuSSQPNzWk'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=523234&Code=JG3Asyfjek1sZ93eMOSPM1CuSSQPNzWk' alt='' style='cursor:pointer' code='JG3Asyfjek1sZ93eMOSPM1CuSSQPNzWk'></a>
        </div>
    </div>
</div>

@*<img src="http://d.ivo.ir/Files/Clearance/3087.jpg" />*@


<script>
    function vmsblink(selector) {
        $(selector).fadeOut(500, function () {
            $(this).fadeIn(500, function () {
                vmsblink(this);
            });
        });
    }
    vmsblink('blink');
</script>

<script type="text/javascript">
    $("button#btnSearch").click(function () {
        alert('ddfdf');
    });

    $.ajax({
        url: '/api/Temp',
        success: function (data) {
            var list = $("#Temps");
            for (var i = 0; i < data.length; i++) {
                var temp = data[i];
                list.append('<li id="' + temp.Id + '">' + temp.Name + '</li>');
            }
        }
    });
</script>

<script type="text/javascript">
    function AllowNumbersOnly(e) {
        var code = (e.which) ? e.which : e.keyCode;
        if (code > 31 && (code < 48 || code > 57)) {
            e.preventDefault();
        }
    }
</script>

<script type="text/javascript">
    function onChangeProvince() {
        $.ajax({
            url: '/Administrator/HeadOfFactor/GetCities',
            type: 'post',
            data: { provinceId: $("#Province").val() },
            success: function (data) {

                $("#DivCityId").empty();

                var select = $("<select class='form-control' id='City' name='City' data-rel='chosen'>");
                var option1 = "<option value='@System.Guid.Empty'>" + "از لیست انتخاب نمایید" + "</option>";
                select.append(option1);

                $.each(data, function (i, city) {
                    var option=('<option value="' + city.Id + '"> ' + city.Name + '</option>');
                    select.append(option);
                })

                $("#DivCityId").append(select);
                $('#City>option:eq(1)').prop('selected', true);
                $("#City").attr("onchange", "onChangecity()");
            }
        });
    }


    function onChangeProductName() {
        $.ajax({
            url: '/Administrator/Cement/GetProductType',
            type: 'post',
            data: { ProductNameId: $("#ProductName").val() },
            success: function (data) {

                $("#DivProductTypeId").empty();

                var select = $("<select class='form-control' onchange = 'onChangeProductType()' id='ProductType' name='ProductType' data-rel='chosen'>");
                var option1 = "<option value='@System.Guid.Empty'>" + "از لیست انتخاب نمایید" + "</option>";
                select.append(option1);
                $.each(data, function (i, ProductType) {
                    var option = ('<option value="' + ProductType.Id + '"> ' + ProductType.Name + '</option>');
                    /// baraye inke avalin id baraye loade Select badi estefade shavad
                    if (i == 0) {
                        onChangeProductType(ProductType.Id);
                    }
                    select.append(option);
                })

                $("#DivProductTypeId").append(select);
                $('#ProductType>option:eq(1)').prop('selected', true);
            }
        });

        $.ajax({
            url: '/Administrator/Cement/GetFactoryName',
            type: 'post',
            data: { ProductNameId: $("#ProductName").val() },
            success: function (data) {

                $("#DivFactoryNameId").empty();

                var select = $("<select class='form-control' id='FactoryName' name='FactoryName' data-rel='chosen'>");
                var option1 = "<option value='@System.Guid.Empty'>" + "از لیست انتخاب نمایید" + "</option>";
                select.append(option1);

                $.each(data, function (i, FactoryName) {
                    var option = ('<option value="' + FactoryName.Id + '"> ' + FactoryName.Name + '</option>');
                    select.append(option);
                })

                $("#DivFactoryNameId").append(select);
                // baraye az ghabl entekhab shodane item
                $('#FactoryName>option:eq(1)').prop('selected', true);
            }
        });
    }

    function onChangeProductType(ProductTypee) {
        debugger;
        if (ProductTypee == undefined) { /// baraye inke dafe aval az loade safhe bekhoone
            ProductTypee = $("#ProductType").val();
        }
        $.ajax({
            url: '/Administrator/Cement/GetPackageType',
            type: 'post',
            data: { ProductTypeId: ProductTypee },
            success: function (data) {

                $("#DivPackageTypeId").empty();

                var select = $("<select class='form-control' onchange = 'onChangePackageType()'  id='PackageType' name='PackageType' data-rel='chosen'>");
                var option1 = "<option value='@System.Guid.Empty'>" + "از لیست انتخاب نمایید" + "</option>";
                select.append(option1);

                $.each(data, function (i, PackageType) {
                    var option = ('<option value="' + PackageType.Id + '"> ' + PackageType.Name + '</option>');
                    select.append(option);
                })

                $("#DivPackageTypeId").append(select);
                // baraye az ghabl entekhab shodane item
                $('#PackageType>option:eq(1)').prop('selected', true);
                onChangePackageType();
            }
        });
    }

    function onChangePackageType() {
        debugger;
        $.ajax({
            url: '/Administrator/Cement/GetTonnage',
            type: 'post',
            data: { PackageTypeId: $("#PackageType").val() },
            success: function (data) {

                $("#DivTonnageId").empty();

                var select = $("<select class='form-control' id='Tonnage' name='Tonnage' data-rel='chosen'>");
                var option1 = "<option value='@System.Guid.Empty'>" + "از لیست انتخاب نمایید" + "</option>";
                select.append(option1);

                $.each(data, function (i, Tonnage) {
                    var option = ('<option value="' + Tonnage.Id + '"> ' + Tonnage.Name + '</option>');
                    select.append(option);
                })

                $("#DivTonnageId").append(select);
                // baraye az ghabl entekhab shodane item
                $('#Tonnage>option:eq(1)').prop('selected', true);
            }
        });
    }

    function onChangecity() {
                     $.ajax({
            url: '/Administrator/HeadOfFactor/GetVillage',
            type: 'post',
            data: { cityId: $("#City").val() },
            success: function (data) {

                $("#DivVillageId").empty();

                var select = $("<select class='form-control' id='village' name='village' data-rel='chosen'>");
                var option1 = "<option value='@System.Guid.Empty'>" + "از لیست انتخاب نمایید" + "</option>";
                select.append(option1);

                $.each(data, function (i, village) {
                    var option = ('<option value="' + village.Id + '"> ' + village.Name + '</option>');
                    select.append(option);
                })

                $("#DivVillageId").append(select);
            }
                     });
    }

    $('#Village>option:eq(1)').prop('selected', true);
</script>


<script type="text/javascript">

    function EnablePayment() {
        debugger;
        var Karkhane = document.getElementById("Karkhane");
        var Mahal = document.getElementById("Mahal");
        if (Karkhane.checked == true) {
            $("#MahalTahvil").val('Karkhane');
        }
        else if (Mahal.checked == true) {
            $("#MahalTahvil").val('Mahal');
        }
        //else {
        //    $('#btnPayment').prop('disabled', 'disabled');
        //}
    }

</script>