@model ViewModels.Areas.Administrator.User.DisplayViewModel
@{
    string strTitle =
        string.Format("{0} {1}",
        Resources.Action.DeleteOf,
        Resources.Model.User.EntitiesName);
}
@if (ViewBag.PageMessages != null && ViewBag.PageMessages != string.Empty)
{
    <div class="panel panel-info">
        <div class="panel-heading">
            پیام های سیستمی
        </div>
        <div class="panel-body">
            @Html.Raw(ViewBag.PageMessages)
        </div>
    </div>
}
<div class="panel panel-primary">
    <div class="panel-heading">
        @strTitle
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Role)</dt>
            <dd>@Html.DisplayFor(model => model.Role)</dd>

            <dt>@Html.DisplayNameFor(model => model.Province)</dt>
            <dd>@Html.DisplayFor(model => model.Province)</dd>

            <dt>@Html.DisplayNameFor(model => model.FullName)</dt>
            <dd>@Html.DisplayFor(model => model.FullName)</dd>

            <dt>@Html.DisplayNameFor(model => model.UserName)</dt>
            <dd>@Html.DisplayFor(model => model.UserName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Authenticate)</dt>
            <dd>@Html.DisplayFor(model => model.Authenticate)</dd>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(excludePropertyErrors: true)

            <div class="form-actions no-color">
                <input type="submit" value="@Resources.Buttons.Delete" class="btn btn-danger" />
            </div>
        }
    </div>
    <div class="panel-footer">
        @Html.ActionLink(Resources.Action.Edit, MVC.Administrator.User.Edit(Model.Id), new { @class = "btn btn-primary" })
        @Html.ActionLink(Resources.Action.Details, MVC.Administrator.User.Detail(Model.Id), new { @class = "btn btn-primary" })
        @Html.ActionLink(Resources.Action.BackToList, MVC.Administrator.User.Index(), new { @class = "btn btn-default" })

        <a class="btn btn-default col-md-2" data-toggle="tooltip" data-placement="top" title="@(Resources.Action.BackToMain)"
           href="/HomeMain/Main/" style="float:left;"><span style="float:right;">@Resources.Action.BackToMain</span><img style="float:left;" src='../../../Content/Icon/Back.png' /></a>
        <br />
        <br />
    </div>
</div>