@model ViewModels.Areas.Administrator.Cement.CementViewModel

@{
    string strTitle =
        string.Format("{0} {1}",
        Resources.Action.ListOf,
        Resources.Model.Request.EntitiesName);
}
<style>
    input#CompanyName {
        color: gray;
        padding: 6px 12px;
        border: 1px solid #cccccc;
        border-radius: 4px;
    }
</style>

<script type="text/javascript">

    function AllowNumbersOnly(e) {
        var code = (e.which) ? e.which : e.keyCode;
        if (code > 31 && (code < 48 || code > 57)) {
            e.preventDefault();
        }
    }
    // باز شدن در صفحه جدید
    $(document).on('click', 'a.btn-blank', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        window.open(url, '_blank');
    });

    function Comma(Num) {
        Num += '';
        Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
        Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
        x = Num.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1))
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        return x1 + x2;
    }


    $(document).ready(function () {

        $('input#CompanyName').val('نام شرکت باید به طور دقیق وارد شود');

        $('#StartDate').datepicker({
            dateFormat: 'yy/mm/dd',
            autoSize: true,
            showyear: true,
            changeYear: true
        });

        $('#EndDate').datepicker({
            dateFormat: 'yy/mm/dd',
            autoSize: true,
            showyear: true,
            changeYear: true
        });

        $('#PayStartDate').datepicker({
            dateFormat: 'yy/mm/dd',
            autoSize: true,
            showyear: true,
            changeYear: true
        });

        $('#PayEndDate').datepicker({
            dateFormat: 'yy/mm/dd',
            autoSize: true,
            showyear: true,
            changeYear: true
        });

        $("#SearchPanelHeader").click(function () {
            $("#SearchPanelBody").toggle(1000);
        });

        //$("#input#CompanyName").click(function () {
        //    this.style.color.val('red')
        //});

        //*********************************
        var varDataSource =
            new kendo.data.DataSource({

                pageSize: 10,

                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                serverAggregates: false,

                transport: {
                    read: {
                        type: "POST",
                        dataType: "json",
                        url: "/Administrator/Financial/GetRequests",
                    },
                },

                schema: {
                    data: function (e) {
                        return (e.Data);
                    },
                    total: function (e) {
                        return (e.Total);
                    },
                },
            });

        //*********************************
        //*********************************
        //*********************************

        $("div#grid").kendoGrid({
            sortable: {
                mode: "multiple",
                allowUnsort: true,
            },

            pageable: {
                info: true,
                input: true,
                refresh: true,
                numeric: true,
                buttonCount: 5,
                previousNext: true,
                pageSize: [5, 10, 25, 50, 100],
                messages: {
                    morePages: "صفحات بیشتر",
                    page: "شماره صفحه",
                }
            },

            groupable: true,
            filterable: true,
            scrollable: false,
            reorderable: true,

            columnMenu: {
                columns: true,
                filterable: true,
                messages: {
                    lock: "قفل شده",
                    unlock: "قفل نشده",
                }
            },

            navigatable: true,
            selectable: "multiple row",

            dataSource: varDataSource,

            dataBinding: function () {
                rowNumber =
					(this.dataSource.page() - 1) * this.dataSource.pageSize();
            },

            // **************************************************

            columns:
                [
                    {
                        hidden: false,
                        locked: true,
                        lockable: true,
                        width: "20px",
                        titel: "#",
                        template: "#= ++rowNumber #",
                    },
                    {
                        title: "جزئیات و اقدامات",
                        hidden: false,
                        locked: true,
                        lockable: true,
                        width: "10px",
                        title: "",
                        template: function (dataItem) {

                            var strTemplate = "";

                            @*strTemplate +=
                                '<a  class="btn-blank" data-toggle="tooltip" data-placement="top" title="@(Resources.Action.Edit)" href="/Administrator/Financial/Edit/'
                                + dataItem.Id + '"><img src="../../../Content/Icon/display.png"/></span></a>';*@

                            strTemplate +=
                            ' | <a data-toggle="tooltip" data-placement="top" title="@(Resources.Action.Delete)" href="/Administrator/Financial/Delete/'
                            + dataItem.Id + '"><img src="../../../Content/Icon/UpAmontPaid.png"/></span></a>';
                            return (strTemplate);
                        },
                    },
                    {
                        hidden: false,
                        locked: true,
                        lockable: true,
                        title: "@Resources.Model.Cement.InvoiceNumber",
                        field: "@Resources.Model.Strings.CementKeys.InvoiceNumber",
                        width: "10px",
                    },
                    {
                        hidden: false,
                        locked: true,
                        lockable: true,
                        title: "@Resources.Model.Cement.AmountPaid",
                        field: "@Resources.Model.Strings.CementKeys.AmountPaid",
                        width: "10px",
                    },
                    {
                        hidden: false,
                        locked: true,
                        lockable: true,
                        title: "@Resources.Model.Cement.StringProductName",
                        field: "@Resources.Model.Strings.CementKeys.StringProductName",
                        width: "20px",
                    },
                    {
                        hidden: false,
                        locked: true,
                        lockable: true,
                        title: "@Resources.Model.Cement.StringProductName",
                        field: "@Resources.Model.Strings.CementKeys.StringProductName",
                        width: "20px",
                    },
                    {
                        hidden: false,
                        locked: false,
                        lockable: true,
                        title: "@Resources.Model.Cement.StringProductType",
                        field: "@Resources.Model.Strings.CementKeys.StringProductType",
                        width: "20px",
                    },
                    {
                        hidden: false,
                        locked: true,
                        lockable: true,
                        title: "@Resources.Model.Cement.StringPackageType",
                        field: "@Resources.Model.Strings.CementKeys.StringPackageType",
                        width: "20px",
                    },
                    {
                        hidden: false,
                        locked: true,
                        lockable: true,
                        title: "@Resources.Model.Cement.StringFactoryName",
                        field: "@Resources.Model.Strings.CementKeys.StringFactoryName",
                        width: "20px",
                    },
                    {
                        hidden: false,
                        locked: true,
                        lockable: true,
                        title: "@Resources.Model.Cement.StringInsertDateTime",
                        field: "@Resources.Model.Strings.CementKeys.StringInsertDateTime",
                        width: "20px",
                    },
                ]
        });

        // **************************************************
        // **************************************************

        $("button#btnSearch").click(function () {
            debugger;
            var varDataSource =
                new kendo.data.DataSource({

                    pageSize: 10,

                    serverPaging: true,
                    serverSorting: true,
                    serverFiltering: true,
                    serverAggregates: false,

                    transport: {
                        read: {
                            type: "POST",
                            dataType: "json",
                            url: "/Administrator/Financial/Search",
                            data: {
                                AmountPaid: function () {
                                    return ($("input#AmountPaid").val());
                                },
                                InvoiceNumber: function () {
                                    return ($("input#InvoiceNumber").val());
                                },

                                ProductName: function () {
                                    return ($("select#ProductName").val());
                                },

                                ProductType: function () {
                                    return ($("select#ProductType").val());
                                },

                                PackageType: function () {
                                    return ($("select#PackageType").val());
                                },

                                FactoryName: function () {
                                    return ($("select#FactoryName").val());
                                },

                                StartDate: function () {
                                    return ($("input#StartDate").val());
                                },
                                EndDate: function () {
                                    return ($("input#EndDate").val());
                                },
                                PayStartDate: function () {
                                    return ($("input#PayStartDate").val());
                                },
                                PayEndDate: function () {
                                    return ($("input#PayEndDate").val());
                                },
                                FromAmount: function () {
                                    var number = $("#FromAmount").val();
                                    for (var i = 0; i < number.split(',').length; i++) {
                                        number = number.replace(',', '');
                                    }
                                    $("#FromAmount").val(number);
                                    return (
                                        $("input#FromAmount").val()
                                    );
                                },
                                ToAmount: function () {
                                    var number = $("#ToAmount").val();
                                    for (var i = 0; i < number.split(',').length; i++) {
                                        number = number.replace(',', '');
                                    }
                                    $("#ToAmount").val(number);
                                    return ($("input#ToAmount").val());
                                },
                            },
                        },
                    },

                    requestStart: function (e) {
                        $("button#btnSearch").hide();
                    },

                    requestEnd: function (e) {
                        $("button#btnSearch").show();
                    },

                    schema: {
                        data: function (e) {
                            return (e.Data);
                        },
                        total: function (e) {
                            return (e.Total);
                        },
                    },
                });

            // **************************************************
            // **************************************************

            var varGrid =
                $('div#grid').data("kendoGrid");

            varGrid.setDataSource(varDataSource);
        });
    })

</script>

<section id="Requests" class="form-horizontal" role="form">
    <div class="panel panel-info">
        <div class="panel-heading" id="SearchPanelHeader">
            جستجو ( کلیک کنید...!)
        </div>
        <div class="col-md-12 panel-body" id="SearchPanelBody" style="display: none;">
            <div class="col col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductName, new { @class = "col-md-4 control-label" })
                    <div class="col col-md-8">
                        @Html.DropDownListFor(model => model.ProductName, null,
                        Resources.General.SelectAnItem, new { @class = "chzn-select form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PackageType, new { @class = "col-md-4 control-label" })
                    <div class="col col-md-8">
                        @Html.DropDownListFor(model => model.PackageType, null,
                        Resources.General.SelectAnItem, new { @class = "chzn-select form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate, new { @class = "col-md-4 control-label" })
                    <div class="col col-md-8">
                        @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.FromAmount, new { @class = "col-md-4 control-label" })
                    <div class="col col-md-8">
                        @Html.TextBoxFor(model => model.FromAmount, new { @class = "form-control", @onkeypress = "return AllowNumbersOnly(event)", @onkeyup = "javascript:this.value=Comma(this.value);" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.InvoiceNumber, new { @class = "col-md-4 control-label" })
                    <div class="col col-md-8">
                        @Html.TextBoxFor(model => model.InvoiceNumber, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductType, new { @class = "col-md-4 control-label" })
                    <div class="col col-md-8">
                        @Html.DropDownListFor(model => model.ProductType, null,
                        Resources.General.SelectAnItem, new { @class = "chzn-select form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.FactoryName, new { @class = "col-md-4 control-label" })
                    <div class="col col-md-8">
                        @Html.DropDownListFor(model => model.FactoryName, null,
                        Resources.General.SelectAnItem, new { @class = "chzn-select form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EndDate, new { @class = "col-md-4 control-label" })
                    <div class="col col-md-8">
                        @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ToAmount, new { @class = "col-md-4 control-label" })
                    <div class="col col-md-8">
                        @Html.TextBoxFor(model => model.ToAmount, new { @class = "form-control", @onkeypress = "return AllowNumbersOnly(event)", @onkeyup = "javascript:this.value=Comma(this.value);" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-8">
                    <button type="button" id="btnSearch" name="btnSearch" class="btn btn-primary btn-icon btn-green icon-alarmclock">@Resources.OPS.Button.Search</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">
            @strTitle
        </div>
        <div class="col-md-12 panel-body">
            <div class="col-md-12">
                <div class="row">
                    <a class="btn btn-primary col-md-2" data-toggle="tooltip" data-placement="top" title="@(Resources.Action.Create)" style="float:right;"
                       href="/Administrator/Financial/Create/"><span style="float:right;">ثبت قیمت جدید</span><img style="float:left;" src='../../../Content/Icon/Create.png' /></a>
                    <a class="btn btn-default col-md-2 " data-toggle="tooltip" data-placement="top" title="@(Resources.Action.BackToMain)"
                       href="/HomeMain/Main/" style="float:left;">
                        <span style="float:right;">@Resources.Action.BackToMain</span><img style="float:left;" src='../../../Content/Icon/Back.png' />
                    </a>
                </div>
                <br />
                <div class="row" style="overflow-y: scroll;">
                    <div data-role="grid" id="grid" class="k-content k-rtl grid k-grid k-widget k-reorderable" style="width:1500px;">
                    </div>
                </div>
                <br />
                <div class="row">
                    @*<a class="btn btn-default col-md-2" data-toggle="tooltip" data-placement="top" title="@(Resources.Action.GetData)"
                           onclick="location.href='@Url.Action("Download", "Request")'">
                            <span style="float:right;">@Resources.Action.GetData</span><img style="float:left;" src='../../../Content/Icon/Excel.png' />
                        </a>
                        <a class="btn btn-default col-md-2" data-toggle="tooltip" data-placement="top" title="@(Resources.Action.BackToMain)"
                           href="/HomeMain/Main/" style="float:left;">
                            <span style="float:right;">@Resources.Action.BackToMain</span><img style="float:left;" src='../../../Content/Icon/Back.png' />
                        </a>*@
                </div>
            </div>
        </div>
        <div class="panel-footer"></div>
    </div>
</section>


<script type="text/javascript">
    function onChange() {
        $.ajax({
            url: '/Administrator/Request/GetCities',
            type: 'post',
            data: { provinceId: $("#Province").val() },
            success: function (data) {

                $("#DivCityId").empty();

                var select = $("<select class='form-control' id='City' name='City' data-rel='chosen'>");
                var option1 = "<option value='@System.Guid.Empty'>" + "از لیست انتخاب نمایید" + "</option>";
                select.append(option1);

                $.each(data, function (i, city) {
                    var option=('<option value="' + city.Id + '"> ' + city.Name + '</option>');
                    select.append(option);
                })

                $("#DivCityId").append(select);
            }
        });
    }

    function GetTransactionReportByPageNumber(id) {
        $.ajax({
            url: '/Administrator/Request/GetTransactionReportByPageNumber',
            type: 'Get',
            data: { id: id},
            success: alert('ok')
        });
    }
</script>