@model ViewModels.Account.ChangePasswordViewModel
@{
    string strTitle = Resources.Action.ChangePassword;
    ViewBag.Title = strTitle;
}

@using (Html.BeginForm(new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2> @strTitle</h2>
        </div>
        <div class="panel-body">
            <div class="row form-group">
                @Html.LabelFor(model => model.CurrentPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CurrentPassword)
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(model => model.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value='@Resources.OPS.Button.Save' class="btn btn-success" />
                </div>
            </div>
            <hr />
        </div>
    </div>
}